html, body, .capa {
  height: 100%;
}

body {
  background: url(imagens/capa.png), 
              url(imagens/ruido.png), 
              linear-gradient(50deg,#ff4169,#7c26f8);
  background-attachment: fixed;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 100px;
  font-weight: 900;
  letter-spacing: -0.05em;
  margin-bottom: 50px;
}

h2 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -0.04em;
}

h3 {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: -0.04em;
}

/* logo */
.img-logo {
  height: 40px;
  width: 132px;
  display: block;
  color: transparent;
  background: url(imagens/spotify.svg) no-repeat;
  background-size: contain;
}

.navbar-brand {
  padding: 5px 15px;
}

/* barra de navegação */
nav.navbar-transparente {
  padding: 15px 0;
  background: rgba(0, 0, 0, 0.6);
}
.divisor {
  width: 1px;
  height: 16px;
  background: white;
  margin: 16px 10px;
}

.navbar-inverse .navbar-nav>li>a, footer .nav a {
  color: white;
}
.navbar-inverse .navbar-nav>li>a:hover, footer .nav a:hover {
  color: #9bf0e1;
  background: none;
}

/* banner */
.capa {
  width: 100%;
  display: table;
}

.texto-capa {
  color: white;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.btn-custom {
  color: white;
  border-radius: 500px;
  padding: 10px 35px;
  margin: 0px 15px;
  text-transform: uppercase;
  transition: background 0.4s, color 0.4s ;
}

.btn-roxo {
  background-color: #7c25f8;
}
.btn-roxo:hover {
  background-color: #6207e3;
  color: white;
}

.btn-branco {
  border: 2px solid white;
}
.btn-branco:hover {
  color: black;
  background-color: white;
}

/* seção serviços */
#servicos {
  background-color: white;
  padding: 20px 0;
}

.albuns {
  padding: 10px 0;
}

#servicos h2, #servicos h3 { color: #7c25f8; }

/* seção recursos */
#recursos {
  color: white;
  padding: 20px 0;
}

#recursos h3 { color: #9bf0e1;}

.rotacionar {
  transform: rotate(30deg);
  padding-left: 80px;
}

/* rodape */
footer {
  padding: 50px 0 20px 0;
  position: relative;
  background-color: black;
}

footer h4 {
  font-size: 12px;
  color: #919496;
  text-transform: uppercase;
}

footer .social li {
  float: right;
}